html {
  scroll-behavior: smooth;
}
body {
  font-family: "Roboto", sans-serif;
  overflow-y: scroll;
  min-width: 250px;
}
main {
  min-height: calc(100vh - 100px);
  border-radius: 10px;
  margin-left: 48px;
}

img {
	max-width: 90% ;
	margin: auto ;
	display: block ;
	border: none ;}

.side-bar {
  width: 25px;
  position: fixed;
  top: 70px;
}
footer {
  font-size: 0.9em;
  margin-left: 48px;
}

#copiedMessage {
  position: fixed;
  display: table-cell;
  line-height: 100px;
  width: 224px;
  height: 100px;
  text-align: center;
  top: calc(50% - 50px);
  left: calc(50% - 112px);
  transition: all 1s;
}
.chapter-summary > p {
  margin-bottom: 1em;
}

[data-bs-theme="light"] {
  color-scheme: light;
  --bs-secondary-rgb: 237, 237, 237;
}

[data-bs-theme="dark"] {
  color-scheme: dark;
  --bs-primary-rgb: 255, 170, 0;
  --bs-link-color-rgb: 255, 170, 0;
  --bs-link-hover-color-rgb: 198, 138, 0;
  --bs-secondary-rgb: 64, 64, 64;
}
b,
strong {
  font-weight: 700;
}

.highlight {
  div,
  pre {
    margin: 2rem 0 2rem;
    padding: 1rem;
    border-radius: 1rem;
    overflow-x: auto;
  }
}

pre {
  display: block;
  font-family: monospace;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 2.6rem;
  overflow-x: auto;
  margin: 2rem 0 2rem;
  padding: 1rem;
  border-radius: 1rem;

  code {
    display: inline-block;
    background-color: inherit;
    color: inherit;
  }
}

code {
  font-family: monospace;
  font-size: 1.6rem;
  font-weight: 400;
  border-radius: 0.6rem;
  padding: 0.3rem 0.6rem;
  background-color: #000;
  color: white;
  @media only screen and (max-width: 768px) {
    font-size: 1.5rem;
  }
}

blockquote {
  border-left: 2px solid;
  padding-left: 2rem;
  line-height: 2.2rem;
  font-weight: 400;
  font-style: italic;
}
* {
  -webkit-tap-highlight-color: transparent;
}

th,
td {
  padding: 1.6rem;
}

table {
  border-collapse: collapse;
}

table td,
table th {
  border: 2px solid;
}

table tr:first-child th {
  border-top: 0;
}

table tr:last-child td {
  border-bottom: 0;
}

table tr td:first-child,
table tr th:first-child {
  border-left: 0;
}

table tr td:last-child,
table tr th:last-child {
  border-right: 0;
}